@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

p {
  margin: 10px 0;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: .8;
  width: 100%;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
}


/* Header */
.hero {
  background: url(../images/home/showcase.jpg) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

